<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js'
        integrity='sha512-rgrFBaGRHjj2cy6RtcWr21S4oSicNV/Y3qACuRZZIVdi6hGIXOKZeFTtzFFZCJ7cI4OrwbY7/FGVvaJ5hXJdJg=='
        crossorigin='anonymous'></script>

    <style>
        * {
            box-sizing: border-box;
        }

        .todoInput {
            outline: none;
        }

        .todoList {
            list-style: none;
            padding-left: 0;
        }

        .error {
            border: 5px solid red;
        }

        .success {
            border: 5px solid green;
        }

        .done {
            text-decoration: line-through;
        }

        /* util */
        .ml-1 {
            margin-left: 1rem;
        }

        /*  */
        .todoList {
            li {
                margin-top: 0.5rem;

                button {
                    margin-left: 1rem;
                }

            }
        }

        button,
        input[type="submit"],
        input[type="checkbox"] {
            cursor: pointer;
        }

        #function_buttons {
            button {
                margin-right: 0.5rem;
            }
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- 輸入清單 -->
        <form @submit.prevent="add">
            <input type="text" v-model="input" :class="inputCheck" class="todoInput">
            <input type="submit" value="新增" class="ml-1"></input>
        </form>
        <hr>
        <!-- 搜尋 filter -->
        <input type="text" v-model="search">
        <hr>
        <!-- 功能按鈕 -->
        <div id="function_buttons">
            <button @click="todosAll('done')">全部標記為已完成</button>
            <button @click="todosAll('notDone')">全部標記為未完成</button>
            <br>
            <button @click="filter = '全部'">顯示全部</button>
            <button @click="filter = '已完成'">顯示已完成</button>
            <button @click="filter = '未完成'">顯示未完成</button>
            <br>
            <button @click="todosAll('remove')">清除全部</button>
            <button @click="todosAll('removeDone')">清除已完成</button>
            <button @click="todosAll('removeNotDone')">清除未完成</button>
        </div>
        <hr>
        <!-- 目前顯示 -->
        目前顯示: <span>{{ filter }}</span>，共 <span>{{ filteredTodos.length }}</span> 個
        <!-- 清單列表 -->
        <ul class="todoList">
            <li v-for="todo in filteredTodos" :class="todo.isDone ? 'done' : ''" :key="todo.id">
                <input type="checkbox" v-model="todo.isDone">
                <!-- 編輯中 -->
                <template v-if="todo.isEditing">
                    <input type="text" v-model="todo.textTemp" class="todoInput" @keyup.enter="confirmEdit(todo)"
                        @keydown.esc="cancelEdit(todo)">
                </template>
                <!-- 非編輯中 -->
                <template v-else>
                    <span @dblclick="todo.isEditing = true">{{ todo.text }}</span>
                    <button @click="remove(todo.id)">移除</button>
                </template>
            </li>
        </ul>
    </div>
    <script>
        const { ref, reactive, computed, watch, onMounted } = Vue
        Vue.createApp({
            setup() {
                // ref 所有資型都能使用，但是物件和陣列只能淺層偵測變動，使用時需要加上 .value
                const input = ref('')
                // const search = ref('')
                const filter = ref('')


                // reactive 只有物件和陣列可用，不用加.value，可以深層監聽
                const todos = reactive([])

                // HTML 模板沒有用到，不需要宣告成響應性資料
                let id = 1

                // input 驗證
                const inputCheck = computed(() => {
                    if (input.value.length === 0) {
                        return ''
                    } else if (input.value.length <= 2) return 'error'
                    else return 'success'

                })

                // 搜尋過濾
                const filteredTodos = computed({
                    get() {
                        // 回傳符合搜尋條件的清單
                        // [注意] filter() 為淺拷貝，新陣列跟舊陣列不是同一個陣列，但陣列裡的物件指向同一個位址
                        if (filter.value === '已完成') {
                            return todos.filter(todo => todo.isDone)
                        } else if (filter.value === '未完成') {
                            return todos.filter(todo => !todo.isDone)
                        } else {
                            return todos
                        }

                        // return todos.filter(todo => todo.text.includes(search.value))
                    },
                    // set(value) {
                    //     todos = value
                    // }

                })

                // localStorage
                // 偵測變動並寫入
                watch(todos, () => {
                    console.log('watch todos: ', todos)
                    localStorage.todoList_todos = JSON.stringify(todos)
                })
                watch(filter, () => {
                    console.log("filter: ", filter.value)
                    localStorage.todoList_filter = filter.value
                })

                // 在 onMounted 時讀取
                onMounted(() => {
                    // 從 localStorage 讀取todos，預設值為空陣列
                    const todos_localStorage = JSON.parse(localStorage.todoList_todos || '[]')
                    // 從 localStorage 讀取filter
                    const filter_localStorage = localStorage.todoList_filter || '全部'
                    filter.value = filter_localStorage

                    console.log('todos: ', todos_localStorage)
                    todos.splice(0, 0, ...todos_localStorage)
                    // 把id更新為最後一筆+1
                    if (todos.length > 0) id = todos[todos.length - 1].id + 1
                })


                // 加入清單 測試另一種function寫法是否可用
                function add() {
                    console.log('add')
                    if (inputCheck.value === 'success') {
                        todos.push({
                            id: id++,
                            text: input.value,
                            isDone: false,
                            isEditing: false,
                            textTemp: ''
                        })
                        input.value = ''
                    }
                }

                // 刪除清單
                function remove(id) {
                    const shouldRemoveIndex = todos.findIndex(todo => todo.id === id)
                    todos.splice(shouldRemoveIndex, 1)
                }

                // 編輯清單
                function confirmEdit(todo) {
                    todo.text = todo.textTemp
                    todo.textTemp = ''
                    todo.isEditing = false
                }
                // 儲存清單
                function cancelEdit(todo) {
                    todo.textTemp = ''
                    todo.isEditing = false
                }

                // 全體操作
                function todosAll(action) {
                    if (action === 'done') {
                        todos.forEach(todo => todo.isDone = true)
                    } else if (action === 'notDone') {
                        todos.forEach(todo => todo.isDone = false)
                    }
                    else if (action === 'remove') {
                        todos.splice(0)
                    }
                    else if (action === 'removeDone') {
                        // 留下未完成
                        const notDones = todos.filter(todo => !todo.isDone)
                        todos.splice(0, todos.length, ...notDones)
                    }
                    else if (action === 'removeNotDone') {
                        // 留下已完成
                        const dones = todos.filter(todo => todo.isDone)
                        todos.splice(0, todos.length, ...dones)
                    }
                }


                // 模板會使用到的變數需要return出來
                return {
                    input, inputCheck, add, remove, todos, filteredTodos, confirmEdit, cancelEdit, filter, todosAll
                }
            }
        }).mount('#app')
    </script>
</body>

</html>